$breakpoints: (
    "xxs": 0,
    "xs": 375px,
    "sm": 768px,
    "md": 1024px,
    "lg": 1280px,
    "xlg": 1920px
);

@mixin xxs {
    @media (min-width: map-get($breakpoints, "xs")) {
        @content;
    }
}

@mixin xs {
    @media (min-width: map-get($breakpoints, "xs")) {
        @content;
    }
}

@mixin sm {
    @media (min-width: map-get($breakpoints, "sm")) {
        @content;
    }
}

@mixin md {
    @media (min-width: map-get($breakpoints, "md")) {
        @content;
    }
}

@mixin lg {
    @media (min-width: map-get($breakpoints, "lg")) {
        @content;
    }
}

@mixin xlg {
    @media (min-width: map-get($breakpoints, "xlg")) {
        @content;
    }
}