@use './variables' as *;

@mixin titleDecorator {
    content: '';
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: $lightRed;
    width: 7.5rem;
    height: .4rem;
    border-radius: .5rem;
    margin: .2rem 0;
}