@use './variables' as *;
@use './headers' as *;
@use './decorators' as *;
@use './breakpoints' as *;

.gallery-page {
    &__content {
        text-align: justify;
        margin: 2rem 0;
        font-size: 1.4rem;
        img {
            max-width: 100%;
            width: auto;
            height: auto;
        }

        a {
            color: $lightRed;
        }
    }
}

@include xs {
    .gallery-page {
        &__content {
            font-size: 1.6rem;
        }
    }
}