@use './variables' as *;
@use './buttons' as *;
@use './Navbar.scss' as *;
@use './Navmenu.scss' as *;
@use './Footer.scss' as *;
@use './HomeBanner.scss' as *;
@use './NewsPage.scss' as *;
@use './SlugPage.scss' as *;
@use './ImageGallery.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: $white;
    scroll-behavior: smooth;
}

#__next {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.main {
    position: relative;
    z-index: 0;
    width: 100%;
    flex: 1 1 60vh;
    padding: 4rem 2rem;
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/background.png');
        background-position: center;
        background-size: contain;
        opacity: 0.45;
    }
}

.not-found {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__svg {
        width: 30rem;
        height: 20rem;
        position: relative;
    }

    h2 {
        text-align: center;
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    &__button {
        @include button(2rem, $white, $lightRed);
        text-decoration: none;
        margin: 2rem 0;
    }
}