@use './variables' as *;
@use './Navbar.scss' as *;
@use './Navmenu.scss' as *;
@use './Footer.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: $white;
}

#__next {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.main {
    width: 100%;
    flex: 1 1 100vh;
    padding-top: 40px;
    div {
        height: 100%;
    }
}