@use './variables' as *;
@use './breakpoints' as *;

.image-gallery {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin: 1rem 0;
    border: $dashed;
    border-radius: 1rem;
    background-color: rgba($white, $alpha: .4);
    overflow: hidden;
    padding: 0.2rem;
    gap: 0.2rem;

    &__image-container {
        overflow: hidden;
        background-color: rgba($lightRed, $alpha: .7);
        position: relative;
        border-radius: 1rem;

    }

    &__image {
        width: 100%;
        min-height: 110%;
        background-color: rgba($lightRed, $alpha: .7);
        cursor: zoom-in;
    }

    &__counter {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        font-size: 3rem;
        display: grid;
        place-content: center;
        background-color: rgba($darkGray, 0.3);
        color: $white;
        font-weight: bold;
        backdrop-filter: blur(1px);
        cursor: zoom-in;
    }


    .first-row {
        width: 49%;
        aspect-ratio: 1 / 1;
    }
    
    .second-row {
        width: 32%;
        aspect-ratio: 1 / 1;
    }
}


@include xs {
    .image-gallery {
        &__image {
            height: 100px;
        }
    }
}

@include sm {
    .image-gallery {
        &__image {
            height: 200px;
        }
    }
}