@use './variables' as *;
@use './breakpoints' as *;

.navbar {
    width: 100%;
    color: $white;
    position: sticky;
    top: 0;
    z-index: 101;

    &__wrapper {
        position: relative;
        z-index: 101;
        width: 100%;
        background-color: $mainNavColor;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-container {
        display: block;
        position: relative;
        transform: rotate(-10deg) translate(30%, 15%) scale(1.4);
        width: 5rem;
        height: 5rem;
    }

    &__menu-btn {
        display: block;
        background: transparent;
        border: none;
    }
}

@include md {
    .navbar {
        &__links {
            display: flex;
            font-size: 1rem;
        }
    }
}

/* svg wave */

.custom-shape-divider-top-1678654858 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateY(-60%);
    z-index: 1;
}

.custom-shape-divider-top-1678654858 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 33px;
}

.custom-shape-divider-top-1678654858 .shape-fill {
    fill: $mainNavColor;
}