@use './variables' as *;
@use './headers' as *;
@use './decorators' as *;

.slug-page {
    text-align: center;

    &__title {
        @include basicTitle;
        font-size: 4rem;
        &::after {
            @include titleDecorator;
        }
    }

    &__content {
        text-align: justify;
        margin: 2rem 0;
        font-size: 1.5rem;
        img {
            max-width: 100%;
            width: auto;
            height: auto;
        }

        a {
            color: $lightRed;
        }
    }
    
}